:root{
    --fontSize: 1em;
    --bg-color: #ebeaef;
    --white: #ffffff;
}

*, 
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

.heading {
    text-align: center;
}
.center{
    margin: 0 auto;
    width: 100%;
}

label {
    text-align: start;
    margin: 0;
    padding-bottom: .25em;
    padding-top: .25em;
    display: inline-block;
    
}

form{
    margin: 0 2em;
}

.log-in-container{
    background-color: var(--white);
    padding: 1em 1em;
    width: 30rem;
    border-radius: 2px;
    box-shadow: 1px 1px 3px gray;

}

@media only screen and (min-width: 300px){
    .log-in-container{
        
    }
}

input,
select{
    display: inline-block;
    width: 100%;
}