/*
    normalize
*/
:root{
    --fontSize: 1em;
    --clr-bg: #ebeaef;
    --clr-white: #ffffff;
    --clr-accent-blue: #1877f2;
    --clr-accent-green: #42b72a;
    --clr-gray: gray;
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    colors
*/

body {
    background-color: var(--clr-bg);
}

/*
    layout
*/
.grid-row-1{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    align-content: center;
    height: 100vh;
    
}



hr{ 
    margin: 1.5em 0;
}

.btn{
    color: var(--clr-white);
    font-weight: 800;
    font-size: 1em;

}

.btn:hover{
    filter: brightness(95%);
}

.center-text {
    text-align: center;
}

.center{
    margin: 0 auto;
    width: 100%;
}


/*
    style
*/
.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    /*width: 30rem;*/
    margin: .25rem 0;
    border-radius: 2px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  

.form-container > input,
.form-container > button {
    font-size: 1em;
    width: 95%;
    margin: .75em auto;
    display: block;
    height: 3em;
    background-color: var(--clr-white);
    border: none;
    outline: none;
    border-radius: 5px;
}
input:not([type=submit]){
    padding-left: 1em;
    outline: 1px solid var(--clr-gray);
}
input:not([type=submit]):focus{
    outline: 2px solid var(--clr-accent-blue);

}
.log-in-container{
    background-color: var(--clr-white);
    padding: 1em 1em;
    width: 30rem;
    border-radius: 2px;
    box-shadow: 1px 1px 3px gray;
    margin: 1rem 0;
}



.btn[role=submit]{
    background-color: var(--clr-accent-blue);
}
.btn[role=register]{
    background-color: var(--clr-accent-green);
}

